@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Sofia+Sans+Condensed:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");
:root {
  --opr-button-bg: #4fc3f7;
  --button-bg: #f5f5f5;
}
* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffff;
  max-width: 400px;
  margin: auto;
}
h1 {
  margin-top: 4%;
  font-size: 40px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
.btn {
  padding: 10px;
  border: none;
  width: 60px;
  margin-top: 8px;
  margin-right: 8px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 1px 1px 8px -6px rgb(29, 30, 34);
}
.display input {
  margin: 20% 0% 10% 0%;
  width: 270px;
  padding: 15px 8px;
  text-align: right;
  font-size: 24px;
  border: none;
  border-bottom: 1px solid var(--opr-button-bg);
}
.display input:focus {
  border: 1px solid var(--opr-button-bg);
  outline: none;
}
.operator {
  background-color: var(--opr-button-bg);
  color: #ffff;
}
